@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
    display: none;
}

* {
    scroll-behavior: smooth;
}

@layer utilities {
    .m-container {
        @apply mx-5 md:mx-16 lg:mx-32 xl:mx-40
    }
}

.a-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-center {
    display: flex;
    justify-content: center;
}

.v-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}